body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to top, #DBDAD5 88%, #429489 12%);
}

.container {
    max-width: 1000px;
}

#app {
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 250px;
    background-color: #FFFEFF;
}

img {
    width: 100%;
    display: block;
}

.user-avatar img {
    width: 30px;
}

.top-row {
    background-color: #EBE9EB;
}

.top-row h6 {
    font-size: 14px;
}

.icons-group i {
    font-size: 13px;
    color: gray;
}

.notifications {
    background-color: #9FD8F9;
}

.notifications i {
    font-size: 13px;
    color: #9DD7F9;
    background-color: white;
    border-radius: 50%;
    padding: 10px 9px;
}

.notifications-message p {
    font-size: 11px;
    font-weight: 500;
}

.notifications-message a {
    font-size: 11px;
    color: gray;
}

.search-bar input {
    height: 30px;
}

.search-bar ::placeholder {
    font-size: 11px;
    color: gray;
}

.search-bar .search-bar__icon  {
    font-size: 13px;
    color: grey;
}

.contact-avatar img {
    width: 45px;
}

.contact-info .name-contact {
    font-size: 12px;
    font-weight: 700;
}

.contact-info .last-message {
    font-size: 10px;
    color: gray;
}

.contact .time {
    font-size: 8px;
    font-weight: 600;
}

.contact:hover {
    background-color: #E9EAEB;
}

.active {
    background-color: #E9EAEB;
}

.selected-contact {
    background-color: #EBE9EB;
}

.chat {
    background-image: url(../img/mine.jpg);
}

.message-typing-bar {
    background-color: #EBE9EB;
}

.message-typing-bar ::placeholder {
    font-size: 11px;
}

.message-sent {
    background-color: #DEF8C2;
    color: black;
    font-weight: 500;
    font-size: 11px;
    align-self: flex-end;
}

.message-received {
    background-color: #FFFEFF;
    color: black;
    font-weight: 500;
    font-size: 11px;
    align-self: flex-start;
}

.message .date {
    font-size: 7px;
    color: rgba(128, 128, 128, 0.859);
    bottom: 5px;
    right: 5px;
}

.message p {
    padding: 10px 90px 10px 1px;
}