body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to top, #DBDAD5 88%, #429489 12%);
}

.container {
    max-width: 1100px;
}

#app {
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 300px;
    background-color: #FFFEFF;
}

img {
    width: 100%;
    display: block;
}

.user-avatar img {
    width: 30px;
}

.user-info {
    background-color: #EBE9EB;
}

.user-info h6 {
    font-size: 14px;
    font-weight: 600;
}

.icons-group i {
    font-size: 14px;
    color: gray;
}

.icons-group i:hover {
    color: black;
}

.notifications-box {
    background-color: #9FD8F9;
}

.notifications-box i {
    font-size: 13px;
    color: #9DD7F9;
    background-color: white;
    border-radius: 50%;
    padding: 10px 9px;
}

.notifications-text p {
    font-size: 11px;
    font-weight: 500;
}

.notifications-text a {
    font-size: 11px;
    color: gray;
}

.search-bar input {
    height: 30px;
    font-size: 11px;
    border-radius: 0%;
}

.search-bar ::placeholder {
    font-size: 11px;
    color: gray;
}

.search-bar .search-bar__icon  {
    font-size: 11px;
    color: grey;
    border-radius: 0%;
}

.contacts {
    cursor: pointer;
}

.contact-avatar img {
    width: 45px;
}

.contact-info .name-contact {
    font-size: 12px;
    font-weight: 600;
}

.contact-info .last-message, .status {
    font-size: 10px;
    color: gray;
}

.contact .time {
    font-size: 8px;
    font-weight: 600;
    color: gray;
}

.contact:hover {
    background-color: #E9EAEB;
}

.active {
    background-color: #E9EAEB;
}

.selected-contact {
    background-color: #EBE9EB;
}

.chat {
    background-image: url(../img/mine.jpg);
}

.chat .message {
    width: 210px;
    height: 50px;
}

.message-typing-bar {
    background-color: #EBE9EB;
}

.message-typing-bar ::placeholder {
    font-size: 11px;
    color: grey;
}

.message-typing-bar input {
    font-size: 12px;
}

.message-sent {
    background-color: #DEF8C2;
    color: black;
    font-weight: 500;
    font-size: 11px;
    align-self: flex-end;
    box-shadow: 0px 1px 3px #888888;
}

.message-received {
    background-color: #FFFEFF;
    color: black;
    font-weight: 500;
    font-size: 11px;
    align-self: flex-start;
    box-shadow: 0px 1px 3px #888888;
}

.message .date {
    font-size: 8px;
    color: rgba(128, 128, 128, 0.859);
    bottom: 5px;
    right: 5px;
}

.message-typing-bar i {
    color: rgba(0, 0, 0, 0.637);
    cursor: pointer;
}

.message-typing-bar i:hover {
    color: black;
}


.read-receipts i {
    color: #5195F3;
}

.read-receipts i:last-child {
    margin-left: -3px;
}

.dropdown {
    display: none;
}

.message:hover .dropdown {
    display: flex;
}

.dropdown i, .dropdown-item {
    cursor: pointer;
    color: grey;
}

.dropdown-item {
    font-size: 11px;
    font-weight: 500;
    --bs-dropdown-link-active-bg: none;
}

.dropdown-item:hover {
    background-color: white;
}

.dropdown-menu {
    box-shadow: 1px 2px 6px #888888;
    border: none;
}

.message-sent p::before {
    content : '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg, #dcf8c6 0%, #dcf8c6 50%, transparent 50%, transparent);
  }

  .message-received::before {
    content : '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg, #fff 0%, #fff 50%, transparent 50%, transparent);
  }

