<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/40396ce4f1.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>Boolzapp</title>
</head>

<body>

    <div id="app">
        <div class="container p-4 h-100">
            <div class="d-flex h-100">
                <!-- SEZIONE DI SINISTRA -->
                <div class="sidebar flex-shrink-0 border-end d-flex flex-column">
                    <div class="user-info d-flex align-items-center justify-content-between p-2">
                        <div class="user-profile d-flex align-items-center gap-2">
                            <div class="user-avatar">
                                <img src="./img/avatar_1.jpg" class="rounded-circle" alt="">
                            </div>
                            <h6 class="mb-0">Nicola</h6>
                        </div>
                        <div class="icons-group">
                            <ul class="list-unstyled d-flex align-items-center gap-2 mb-0">
                                <li>
                                    <i class="fa-solid fa-circle-notch"></i>
                                </li>
                                <li>
                                    <i class="fa-solid fa-message"></i>
                                </li>
                                <li>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="notifications-box d-flex align-items-center gap-2 p-2">
                        <i class="fa-solid fa-bell-slash"></i>
                        <div class="notifications-text d-flex flex-column">
                            <p class="mb-0">Ricevi notifiche di nuovi messaggi</p>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>

                    <div class="search-bar p-1 input-group flex-nowrap">
                        <span class="search-bar__icon input-group-text" id="addon-wrapping"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input type="text" class="form-control" v-model.trim="search" placeholder="Cerca o inizia una nuova chat" aria-describedby="addon-wrapping">
                    </div>

                    <div class="contacts flex-grow-1 overflow-y-hidden">
                        <div class="contact d-flex align-items-center gap-2 p-2 border-top" 
                        v-for="(contact, index) in filteredContacts" :key="index" :class="activeContact === index ? 'active' : ''"
                        @click="onClick(index)">
                            <div class="contact-avatar">
                                <img :src="contact.avatar" class="rounded-circle" alt="">
                            </div>
                            <div class="contact-info flex-grow-1">
                                <h6 class="name-contact mb-0">{{ contact.name }}</h6>
                                <p class="last-message mb-0 text-wrap">{{ contact.messages.at(-1).message }}</p>
                            </div>
                            <span class="time align-self-start text-end text-nowrap">{{ contact.messages.at(-1).date }}</span>
                        </div>
                    </div>
                </div>
                <!-- SEZIONE DI DESTRA -->
                <div class="content flex-grow-1 d-flex flex-column">
                    <div class="selected-contact d-flex align-items-center justify-content-between p-2">
                        <div class="user-avatar d-flex align-items-center gap-2">
                            <img :src="contacts[activeContact].avatar" class="rounded-circle" alt="">
                            <div class="contact-info">
                                <h6 class="name-contact mb-0">{{ contacts[activeContact].name }}</h6>
                                <p class="last-message mb-0">Ultimo accesso alle {{ getRandomInt() }}:00</p>
                            </div>
                        </div>
                        <div class="icons-group">
                            <ul class="list-unstyled d-flex align-items-center gap-2 mb-0">
                                <li>
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </li>
                                <li>
                                    <i class="fa-solid fa-paperclip"></i>
                                </li>
                                <li>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="chat flex-grow-1 p-4 overflow-y-auto">
                        <ul class="list-unstyled mb-0 d-flex flex-column gap-3">
                            <li class="message badge rounded-3 position-relative d-flex align-items-center justify-content-between text-wrap text-start"
                            v-for="(message, index) in contacts[activeContact].messages" :key="index"
                            :class="message.status === 'sent' ? 'message-sent' : 'message-received'">
                                <p class="mb-1 px-2 lh-sm">{{ message.message }}</p>
                                <div class="dropdown position-relative">
                                    <i class="fa-solid fa-chevron-down"></i>
                                    <div class="dropdown-options position-absolute p-3 rounded-1">
                                        <ul class="list-unstyled text-nowrap">
                                            <li class="mb-3">
                                                Message info
                                            </li>
                                            <li @click="removeMessage(index)">
                                                Delete message
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="date position-absolute d-flex gap-1 align-items-center">
                                    {{ message.date }}
                                    <span class="read-receipts">
                                        <i class="fa-solid fa-check"></i>
                                        <i class="fa-solid fa-check"></i>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="message-typing-bar d-flex align-items-center gap-3 py-1 px-3">
                        <i class="fa-regular fa-face-laugh"></i>
                        <input type="text" class="form-control" placeholder="Scrivi un messaggio" aria-describedby="addon-wrapping" v-model.trim="newMessage"
                        @keyup.enter="sendNewMessage()">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.3/build/global/luxon.min.js
"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>